<div class="plant-list">
    <h2>My Plants 🌱</h2>

    <ul>
        <app-notification></app-notification>
        <li *ngFor="let plant of plants$ | async" [ngClass]="getPlantStatus(plant)">
            <div class="plant-card">
                <div class="plant-image" *ngIf="plant.photoUrl">
                    <img [src]="plant.photoUrl" alt="Plant photo">
                </div>

                <div class="plant-details">
                    🌿 <strong>{{ plant.name }}</strong>
                    {{ plant.notes }}
                    <br />
                    <br />
                    Water every {{ plant.wateringFrequency }} days
                    <br />
                    Last watered: {{ plant.lastWatered }}
                    <br />
                    Status: <strong>{{ getPlantStatus(plant) }}</strong>

                    <button (click)="markAsWatered(plant.id)">💧 Mark as Watered</button>
                </div>
            </div>
        </li>

    </ul>
</div>